/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*body{padding:1em;}
.cb-enable, .cb-disable, .cb-enable span, .cb-disable span { background: url(switch.gif) repeat-x; display: block; float: left; }
    .cb-enable span, .cb-disable span { line-height: 30px; display: block; background-repeat: no-repeat; font-weight: bold; }
    .cb-enable span { background-position: left -90px; padding: 0 10px; }
    .cb-disable span { background-position: right -180px;padding: 0 10px; }
    .cb-disable.selected { background-position: 0 -60px; }
    .cb-disable.selected span { background-position: right -240px; color: #fff; }
    .cb-enable.selected { background-position: 0 -60px; }
    .cb-enable.selected span { background-position: left -150px; color: #fff; }
    .switch label { cursor: pointer; }
    .switch input { display: none; }
   .row{background: url(bg.jpg)}*/
    #map {
        width: 500px;
        height: 500px;
      }
    #map img {
max-width: none;
}
body{background: url(bg-pattern-light.png); padding-top:90px; color:#555555 !important; font-size: 14px; font-weight:bold;}
.navbar{

  background: url(bg-pattern-dark.png);
  position:fixed; width:100%;top:0;
    -webkit-box-shadow: 0 8px 6px -6px black;
       -moz-box-shadow: 0 8px 6px -6px black;
            box-shadow: 0 8px 6px -6px black;
            
}
.navbar .container {color:#fff;}
.post{background-image:url(post-blue.png); width:200px;height:100px; border: 3px solid #012631;margin-bottom:5px;padding:5px; color:#555;}
.post img{height:50px; width:50px;}
